<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{default :: layout(~{::title}, ~{::section})}">

<head>
	<meta charset="utf-8">
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title> Login </title>
	
<!-- 	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" href="../css/login.css"> -->


</head>


<body>
	<section id="login-container ">

		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100">
					<div class="login100-pic js-tilt" data-tilt>
						<img th:src="@{/img/logo-autogeral.png}" alt="Logo">
					</div>
	
					<form class="login100-form " id="login-form" th:action="@{/login}" method="POST">
						<span class="login100-form-title"> Por favor, autentique-se </span>
						<div class="wrap-input100 ">
							<input class="input100" type="text" name="username" id="username" placeholder="Login..." maxlength="25" required>
							<span class="focus-input100"></span>
							<span class="symbol-input100"> 
								<i class="fas fa-user" aria-hidden="true"></i>
							</span>
						</div>
	
						<div class="wrap-input100 " >
							<input class="input100" type="password" name="password" id="password" placeholder="Senha..." maxlength="25" required>
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-lock" aria-hidden="true"></i>
							</span>
						</div>
						
						<!-- BTN LOGIN -->
						<div class="container-login100-form-btn">
							<button class="login100-form-btn"> Entrar </button>
						</div>
	
						<!-- <div class="text-center p-t-12">
							<span class="txt1">
								Esqueci
							</span>
							<a class="txt2" href="#">
								Usuário / Senha?
							</a>
						</div> -->
	
						<!-- p-t-136 é -- o padding top do css util -->
						<!-- <div class="text-center p-t-136" style="padding-top: 136px;">
							<a class="txt2" href="#">
								Criar sua conta
								<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
							</a>
						</div> -->
					</form>
				</div>
			</div>
		</div>

	<section>
</body>

</html>