<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{default :: layout(~{::title}, ~{::section})}">

<head>
	<meta charset="utf-8">
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title> Login </title>
</head>

<body>
	<section id="tributacao-estadual-container container">

		<div class="container">

			<!-- FORMULÁRIO O USUARIO SE LOGAR -->
			<form th:action="@{/login}"  method="POST">

				<!-- <spring:url value="/resources/_imagens" var="imagensPath" /> -->
				<!-- <img src="${imagensPath}/logoWFB-rolamento.png" class="mb-4" alt="" width="150" height="150"> -->
				<div class="form-row">
					<h1 class="h3 mb-3 font-weight-normal">Por favor, autentique-se</h1>
				</div>

				<div class="form-row">
					<!-- Login e Senha -->
					<div class="form-group col-md-6">
						<label for="txtLogin"><strong>Login</strong></label>
						<!-- <input type="text" name="login"> -->
						<input type="text" class="form-control" id="username" name="username" placeholder="login..."
							maxlength="25" required />
					</div>
					<div class="form-group col-md-6">
						<label for="txtSenha"><strong>Senha</strong></label>
						<input type="password" class="form-control" id="password" name="password" placeholder="senha..."
							maxlength="25" required />
					</div>
				</div>

				<!-- BTN LOGIN -->
				<div class="form-row">
					<div class="form-group col-md-12">
						<button type="submit" class="btn btn-outline-primary col-md-12" id="bLogin"><strong>Login</strong></button>
					</div>
				</div>
				<!-- <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p> -->

			</form>

		</div>
		<section>

</body>

</html>