<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{default :: layout(~{::title}, ~{::section})}">
	
	<head>
		<meta charset="utf-8">
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<title> Consulta de tributação federal </title>
	</head>

	<body>
		<section id="consulta-tributacao-federal-container">

			<!-- BREADCRUMB -->
			<div>
				<div class="row mb-3 ">
					<div class="col-md-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb breadcrumb-personalizado">
								<li class="breadcrumb-item"><a href="/home" class="breadcrumb-item-personalizado">Home</a></li>
								<li class="breadcrumb-item"><a href="/tributacao-federal/consulta" class="breadcrumb-item-personalizado">Consultar</a></li>			
								<li class="breadcrumb-item active" aria-current="page">Tributação Federal</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>

			<div>

				<!-- FORMULÁRIO para CONSULTAR a TRIBUTAÇÃO ESTADUAL, por NCM -->
				<form action="/tributacao-federal/consulta" method="POST" >
                    <div class="form-group form-row col-md-12">
                        <div class="form-group col-md-8">
                            <label><b>Pesquisar tributação federal por NCM: </b></label>
                            <input type="text" class="form-control " id="txtNcmTributacaoFederal" name="ncm" placeholder="Informe o número do NCM..." minlength="3">
                        </div>

                        <div class="form-group col-md-4" style="padding-top: 25px;">
                            <button class="btn btn-outline-primary" type="submit" id="btnPesquisar" style="margin-top:auto;">
                                <span data-feather="search">search</span>
                            </button>
                        </div>
                    </div>
				</form>


				<!-- TABELA COM AS TRIBUTAÇÕES CONSULTADAS-->
				<table class="table table-hover table-responsive ">
					<thead>
						<tr>
							<!-- <th scope="col"> <b> ID </b> </th> -->	
							<th scope="col"> <b> ID </b> </th>
							<th scope="col"> <b> Operação </b> </th>	
							<th scope="col"> <b> NCM </b> </th>	

							<th scope="col"> <b> Finalidade </b> </th>	
							<th scope="col"> <b> Regime </b> </th>	

							<th scope="col"> <b> PIS CST </b> </th>	
							<th scope="col"> <b> PIS Base </b> </th>	
							<th scope="col"> <b> PIS Aliq. </b> </th>

							<th scope="col"> <b> COFINS CST </b> </th>	
							<th scope="col"> <b> COFINS Base </b> </th>	
							<th scope="col"> <b> COFINS Aliq. </b> </th>

							<th scope="col"> <b> IPI CST </b> </th>	
							<th scope="col"> <b> IPI Base </b> </th>	
							<th scope="col"> <b> IPI Aliq. </b> </th>
					
                            <th scope="col"> <b> Editar </b> </th>	
                            <th scope="col"> <b> Deletar </b> </th>
						</tr>
					</thead>
									
					<tbody>
						<tr th:each="tribFede: ${listTributacaoFederal}">
							<td scope="row" th:text="${tribFede.id}"> 1 </td>	

							<td scope="row" th:text="${tribFede.operacao.descricao}"> Venda Interestadual </td>	
							<td scope="row" th:text="${tribFede.ncm.numero}"> 12345678 </td>	
							
							<td scope="row" th:text="${tribFede.finalidade}"> CONSUMO </td>	
							<td scope="row" th:text="${tribFede.regimeTributario}"> REALs </td>	

							<td scope="row" th:text="${tribFede.pisCst}"> 12345678 </td>	
							<td scope="row" th:text="${tribFede.pisBase}"> 12345678 </td>	
							<td scope="row" th:text="${tribFede.pisAliquota}"> 12345678 </td>	

							<td scope="row" th:text="${tribFede.cofinsCst}"> 12345678 </td>	
							<td scope="row" th:text="${tribFede.cofinsBase}"> 12345678 </td>	
							<td scope="row" th:text="${tribFede.cofinsAliquota}"> 12345678 </td>	

							<td scope="row" th:text="${tribFede.ipiCst}"> 12345678 </td>	
							<td scope="row" th:text="${tribFede.ipiBase}"> 12345678 </td>	
							<td scope="row" th:text="${tribFede.ipiAliquota}"> 12345678 </td>	
											
					      <!-- 			EDITAR -->
                            <td scope="row">
                                <a th:href="@{'/tributacao-federal/editar/' + ${tribFede.id}}">
                                    <button type="button" class="btn btn-outline-primary ajusta-botao-tbl">
                                        <span data-feather="edit-3">Editar</span>
                                    </button>
                                </a>
                            </td>

                            <!-- DELETAR -->
                            <td scope="row">
                                <!-- <form th:method="DELETE" th:action="${(#mvc.url('NC#delete').arg(0, ncm.id)).build()}"> -->
                                <form th:method="POST" method="DELETE" th:action="@{'/tributacao-federal/deletar/' + ${tribFede.id}}">
                                    <button type="submit" class="btn btn-outline-primary ajusta-botao-tbl">
								<!--<button type="submit" class="btn btn-outline-primary ajusta-botao-tbl" data-toggle="modal" data-target="#modalDeletarOperacao" > -->
                                        <span data-feather="trash-2">Deletar</span>
                                    </button>
                                </form>
                            </td>

						 </tr>
					</tbody>
							
						<!-- PAGINAÇÃO ? -->
						<!-- <ul class="nav nav-pills ">
							<li class="nav-item" th:each= "pg : ${#numbers.sequence(0,listConsultorios.totalPages)}">
								 <a th:href="@{/consultorio/consultar/(page=${pg})}"  th:text="${pg} +1" class="nav-link"  
									 th:classappend="${paginaAtual} == ${pg} ? 'active': '' ">1
								 </a>
							</li>	
						</ul>
						-->
				</table>
						
						<!-- 
						<ul class="nav nav-pills ">
							<li class="nav-item" th:each= "pg : ${#numbers.sequence(0,listConsultorios.totalPages)}">
								 <a th:href="@{/consultorio/consultar/(page=${pg})}"  th:text="${pg} +1" class="nav-link"  
									 th:classappend="${paginaAtual} == ${pg} ? 'active': '' ">1
								 </a>
							</li>	
						</ul>
						-->



			<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDeletarOperacao">
					Launch demo modal
    	    </button> -->
			
			<!-- INSERINDO O MODAL PARA A CONFIRMAÇÃO DE DELETE-->
			<!-- <div th:replace="/operacao/modal-deletar :: modal-deletar"></div> -->



			</div>
		</section>

	</body>

</html>