<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{default :: layout(~{::title}, ~{::section})}">

	<head>
		<meta charset="utf-8">
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<title> Cadastro de tributação estadual - (ICMS) </title>
		<!-- Inclua o Bootstrap CSS e o jQuery se ainda não estiverem incluídos -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	</head>

	<body>
		<section id="cadastro-tributacao-estadual-container">

			<!-- BREADCRUMB -->
			<div>
				<div class="row mb-3 ">
					<div class="col-md-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb breadcrumb-personalizado">
								<li class="breadcrumb-item"><a href="/home" class="breadcrumb-item-personalizado">Home</a></li>
								<li class="breadcrumb-item"><a href="/tributacao-estadual/cadastro" class="breadcrumb-item-personalizado">Cadastrar</a></li>
								<li class="breadcrumb-item active" aria-current="page">Tributação Estadual - (ICMS)</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>

			<div>

				<!-- FORMULÁRIO p/ CADASTRAR/ EDITAR -->
				<form th:action="@{/tributacao-estadual/cadastro}" th:object="${icms}" method="POST">
					<!-- ESTADOS -->
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="cmbEstadoOrigem"><strong>Estado ORIGEM</strong></label>
							<select class="custom-select" name="ufOrigemId">
								<option selected id="opEstadoOrigem"> </option>
								<option th:each="estado : ${listEstado}" th:value="${estado.id}" th:id="${estado.sigla}" th:selected="${estado.id == ufOrigemIdSelecionado}" th:text="${estado.sigla}" ></option>
							</select>
						</div>

						<div class="form-group col-md-6">
							<label for="cmbEstadoDestino"><strong>Estado DESTINO</strong></label>
							<select class="custom-select" name="ufDestinoId">
								<option selected id="opEstadoDestino"> </option>
								<!-- ${} essa concatenação no id é uma POG, para diferenciar do id de UF ORIGEM -->
								<option th:each="estado : ${listEstado}" th:value="${estado.id}" th:id="${_}+${estado.sigla}" th:selected="${estado.id == ufDestinoIdSelecionado}" th:text="${estado.sigla}" ></option>
							</select>
						</div>
					</div>

					<!-- OPERAÇÃO e NCM -->
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="cmbOperacao"><strong>Operação</strong></label>
							<select class="custom-select" name="operacaoId">
							<option selected id="opOperacao"> </option>
								<option th:each="operacao : ${listOperacao}" th:value="${operacao.id}" th:id="${operacao.descricao}" th:selected="${operacao.id == operacaoIdSelecionado}" th:text="${operacao.descricao}" ></option>
							</select>
						</div>

						<!-- <div class="form-group col-md-6">
							<label for="cmbNcm"><strong>NCM</strong></label>
							<select class="custom-select" id="ncmId" name="ncmId" >
								<option selected id="opNcm"> </option>
								<option th:each="ncm : ${listNcms}" th:value="${ncm.id}" th:id="${ncm.numero}" th:selected="${ncm.id == ncmdIdSelecionado}" th:text="${ncm}" ></option>
							</select>
						</div> -->

						<div class="form-group col-md-4">
							<label for="txtNcm"><strong>NCM</strong></label>
							<input type="hidden" th:value="*{ncm.id}" id="txtNcmId" name="ncmId" readonly required />
							<input type="text" class="form-control" id="txtNcmDescricao" th:value="*{ncm}" placeholder="Clique No botão (+) ao lado para buscar o NCM" disabled required />
						</div>

						<button type="button" class="btn btn-outline-primary form-control col-md-1 ajusta-botao-tbl" id="btnAdicionarNcm" data-toggle="modal" data-target=".bd-example-modal-lg">
							<span data-feather="plus">adicionar ncm</span>
						</button>
					</div>

					<!-- FINALIDADE e REGIME TRIBUTARIO e PRODUTO ORIGEM -->
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="cmbFinalidade"><strong>Finalidade</strong></label>
							<select class="custom-select" name="finalidade" required>
							<option selected id="opFinalidade"> </option>
								<option th:each="finalidade : ${listFinalidade}" th:value="${finalidade}" th:selected="${finalidade == finalidadeSelecionado}" th:text="${finalidade.descricao}" ></option>
							</select>
						</div>

						<div class="form-group col-md-4">
							<label for="cmbRegimeTributario"><strong>Regime Tributário do emitente</strong></label>
							<select class="custom-select" id="regimeTributario" name="regimeTributario" required>
								<option selected id="opRegimeTributario"> </option>
								<option th:each="regimeTributario : ${listRegimeTributario}" th:value="${regimeTributario}" th:selected="${regimeTributario == regimeTributarioSelecionado}" th:text="${regimeTributario.descricao}" ></option>
							</select>
						</div>

						<div class="form-group col-md-2">
							<label for="chkProdutoImportado"><strong>É produto importado ?</strong></label>
							<input type="checkbox" class="form-control " id="chkProdutoImportado" th:checked="*{produtoImportado}" name="produtoImportado" data-toggle="tooltip" data-placement="top" title="Importado é quando a origem do produto é = 1, 2, 3, 6 ou 7" />
						</div>
					</div>

					<!-- ALIQ DO IMPOSTO -->
					<div class="form-row">

						<div class="form-group col-md-2">
							<label for="txtIcmsCst"><strong>ICMS CST</strong></label>
							<input type="text" class="form-control somenteNumeros" id="txtIcmsCst" th:field="*{icmsCst}" name="icmsCst" placeholder="ICMS CST..." minlength="1" maxlength="3" required />
						</div>

						<div class="form-group col-md-2">
							<label for="txtIcmsBase"><strong>ICMS Base Red. (%)</strong></label>
							<input type="text" class="form-control somenteNumerosPontoEVirgula" id="txtIcmsBase" th:field="*{icmsBase}" name="icmsBase" placeholder="ICMS Base..." maxlength="5" required />
						</div>

						<div class="form-group col-md-2">
							<label for="txtIcmsAliquota"><strong>ICMS Aliq. (%)</strong></label>
							<input type="text" class="form-control somenteNumerosPontoEVirgula" id="txtIcmsAliquota" th:field="*{icmsAliquota}"  name="icmsAliquota" placeholder="ICMS ALIQ." maxlength="5" required />
						</div>

						<div class="form-group col-md-2">
							<label for="txtIcmsIva"><strong>ICMS IVA/MVA (%)</strong></label>
							<input type="text" class="form-control somenteNumerosPontoEVirgula" id="txtIcmsIva" th:field="*{icmsIva}" name="icmsIva" placeholder="ICMS IVA/MVA." maxlength="5" />
						</div>

						<div class="form-group col-md-2">
							<label for="txtIcmsAliquotaDestino"><strong>Aliq. Interna destino (%)</strong></label>
							<input type="text" class="form-control somenteNumerosPontoEVirgula" id="txtIcmsAliquotaDestino" th:field="*{icmsAliquotaDestino}" name="icmsAliquotaDestino" placeholder="ICMS ALIQ. Inter. dest" maxlength="5" required />
						</div>

						<div class="form-group col-md-2">
							<label for="txtIcmsAliquotaDestino"><strong>FCP Aliq. (%)</strong></label>
							<input type="text" class="form-control somenteNumerosPontoEVirgula" id="txtFcpAliquota" th:field="*{fcpAliquota}" name="fcpAliquota" placeholder="ALIQ. do Fundo de combate a pobreza" maxlength="5" required />
						</div>
					</div>

					<!-- ALIQ DO IMPOSTO -->
					<div class="form-row">
						<div class="form-group col-md-2">
							<label for="txtIcmStAliquota"><strong>ICMS ST Aliq. (%)</strong></label>
							<input type="text" class="form-control somenteNumerosPontoEVirgula" id="txtIcmStAliquota" th:field="*{icmsStAliquota}" name="icmsStAliquota" placeholder="ICMS ST ALIQ." maxlength="5" required />
						</div>

						<div class="form-group col-md-2">
							<label for="txtCest"><strong>CEST</strong></label>
							<input type="text" class="form-control somenteNumeros" id="txtCest" th:field="*{cest}" name="cest" placeholder="Cest..." minlength="1" maxlength="10" required>
						</div>

						<div class="form-group col-md-2">
							<label for="txtCfop"><strong>CFOP</strong></label>
							<input type="text" class="form-control somenteNumeros" id="txtCfop" th:field="*{cfop}" name="cfop" placeholder="CFOP..." minlength="4" maxlength="4" required>
						</div>

						<div class="form-group col-md-6">
							<label for="txtCfop"><strong>CODIGO ANP</strong></label>
							<input type="text" class="form-control somenteNumeros" id="txtCodigoAnp" th:field="*{codigoAnp}" name="codigoAnp" placeholder="Codigo ANP (Agencia Nac. de Petroleo)..."  maxlength="30" required>
						</div>
					</div>

					<!-- MSG -->
					<div class="form-row">
							<!-- Mensagem -->
						<!-- <div class="form-row"> -->
							<div class="form-group col-md-12">
								<label for="txtDescricao">Mensagem</label>
								<i class="fas fa-pencil-alt prefix"></i>
								<textarea id="txtMensagem" th:field="*{mensagem}" name="mensagem" class="md-textarea form-control " rows="1"  maxlength="250"></textarea>
							</div>
						<!-- </div>	 -->
					</div>



					<!-- BTN ALTERAR/CADASTRAR -->
					<div class="form-row">
						<!-- <input type="text" th:field="*{id}" class="form-control" id="txtId" name="id" hidden> -->
						<input type="text" class="form-control" id="txtId" th:field="*{id}" name="id" hidden="true" >

						<div class = "form-group col-md-12">
							<button type="submit" id="btnCadastrarAlterar" class="btn btn-outline-primary ajusta-margin-btn col-md-12"><strong>Alterar/Cadastrar</strong></button>
							<!-- <button type="submit" class="btn btn-outline-primary col-md-12" th:text="${textBtnCadastrarEditar}"><strong> </strong></button> -->
						</div>
					</div>

					<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modal-add-ncm"
						 aria-hidden="true" th:fragment="modal-add-ncm">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="labelModalAdicionarNcm">Pesquisar NCM</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>


								<div class="container">
									<div id="spanMensagemErroModal" >

									</div>

									<div id="spanMensagemSucessoModal" >

									</div>
								</div>

								<!-- FORMULÁRIO para CONSULTAR OS NCMS -->
								<form action="/ncm/consulta" method="POST">
									<div class="form-group form-row zera-padd-left col-md-12">
										<div class="form-group col-md-8">
											<label><b>Pesquisar NCM pelo Número: </b></label>
											<input type="text" class="form-control somenteNumeros" id="txtNumeroNcmModal" name="numeroNcmModal"
												   placeholder="Informe o número do NCM..." maxlength="8">
										</div>

										<div>
											<button class="btn btn-outline-primary" type="submit" id="btnPesquisar" name="btnPesquisarModalNcm">
												<span data-feather="search">search</span>
											</button>
										</div>
									</div>
								</form>


								<!-- TABELA COM OS NCMS CONSULTADOS-->
								<table class="table table-hover table-responsive ">
									<thead>
									<tr>
										<!-- <th scope="col"> <b> ID </b> </th> -->
										<th scope="col"> <b> Número</b> </th>
										<th scope="col"> <b> Exceção </b> </th>
										<th scope="col"> <b> Descrição </b> </th>
										<th scope="col"> <b> Adicionar NCM </b> </th>
									</tr>
									</thead>

									<tbody id="tbNcmModal">
									<!-- AS LINHAS DA TABELA É MONTADA DINAMICAMENTE PELO ARQUIVO -->
									<!-- /js/ncm/getRequest.js -->

									<!-- <tr th:each="ncm : ${listNcm}"> -->
									<!-- <td scope="row" id="tdNumeroNcm" th:text="${ncm.numero}"> 12.000.021-90 </td>
                                    <td scope="row" id="tdExcecaoNcm" th:text="${ncm.excecao}"> 123.321.901-99 </td>
                                    <td scope="row" id="tdDescricaoNcm" th:text="${ncm.descricao}"> Essa é uma descrição qualquer do NCM </td> -->

									<!-- BTN ADICIONAR NCM -->
									<!-- <td scope="row">
                                        <a th:href="@{'/ncm/editar/' + ${ncm.id}}">
                                            <button type="button" class="btn btn-outline-primary ajusta-botao-tbl">
                                                <span data-feather="edit-3">Adicionar Ncm</span>
                                            </button>
                                        </a>
                                    </td> -->
									<!-- </tr> -->
									</tbody>
								</table>

							</div>
						</div>
					</div>
				</form>

				<!-- <div th:replace="/ncm/modal-add-ncm :: modal-add-ncm"></div> -->
			</div>
		</section>

	</body>

</html>