.ajusta-botao-tbl {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0;
    padding-right: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*//////////////////////////////////////////////////////////////////
[ BREADCRUMB ]*/
.breadcrumb-personalizado {
    background: #fff; 
    border-radius: 0;
    border-bottom: 2px solid#e4ba06;
    margin-bottom: 2rem;
}

.breadcrumb-item-personalizado {
    color: #1b8140; font-weight: 500
}


/*//////////////////////////////////////////////////////////////////
[ PERSONALIZANDO FORM ]*/
section {
    width: 100%;
}


.limiter-container {
    width: 100%;
    margin: 0 auto;
}
  
.container-form-100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    /* background: #9053c7; */
    /* background:#ce1bc2; */
    /* -135deg, #ce1bc2, #4158d0 */
  
    /* background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0); */

    /* TESTANDO AQUI EMBAIXO */
    /* OK */
    /* background: rgb(162,58,218); */
    /* background: linear-gradient(90deg, rgba(162,58,218,1) 0%, rgba(171,10,214,1) 61%, rgba(143,25,201,1) 72%); */
    
    /* OK 2 */
    /* background-color: #2187fd; */
    /* background-image: linear-gradient(165deg, #2187fd 0%, #b941f5 100%); */
    
    /* background-color: #1f83f7; */
/* background-image: linear-gradient(165deg, #1f83f7 0%, #b436f3 50%, #a813dc 100%); */
background: linear-gradient(-135deg, #1f83f7 0%, #b436f3 50%, #a813dc 100%);


}

.wrap-form-100 {
    width: 95%;
    /* width: 90%; */
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2% 3% 3% 3%;

}
  
/*
 * Content
 */

[role="main"] {
    background: linear-gradient(-135deg, #1f83f7 0%, #b436f3 50%, #a813dc 100%);
    padding-top: 7%;
    /* Space for fixed navbar */
    /* background-color: #ececec; */
}
