.ajusta-botao-tbl {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0;
    padding-right: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}


/*
 * Content
 */

[role="main"] {
    padding-top: 7%;
    /* Space for fixed navbar */
    /* background-color: #ececec; */
}
