
/* ESSE ARQUIVO É APENAS PARA GUARDAR, OS CÓDIGOS DE CORES QUE ESTÃO e ou SERAM USADOS  */

.ESSA-CLASSE-SERVE-APENAS-PARA-GUARDAR-ALGUMAS-CORES-QUE-SERAM-USADAS {
    background-color: #1B1BB3;
    background-color: #5959FF;
    background-color: #4848CE;
    background-color: #4040FF;
    background-color: #B39409;
    background-color: #e4ba06;  /* Usado no :hover, do navBar */
    background-color: #FFDC40;
}


