<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{default :: layout(~{::title}, ~{::section})}">
	
	<head>
		<meta charset="utf-8">
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<title> Cadastro de estado </title>
	</head>

	<body>
		<section id="cadastro-estado-container">

			<!-- BREADCRUMB -->
			<div>
				<div class="row mb-3 ">
					<div class="col-md-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb breadcrumb-personalizado" >
								<li class="breadcrumb-item"><a href="/home" class="breadcrumb-item-personalizado">Home</a></li>
								<li class="breadcrumb-item"><a href="/estado/cadastro" class="breadcrumb-item-personalizado">Cadastrar</a></li>			
								<li class="breadcrumb-item active" aria-current="page">Estado</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>

			<div>

				<!-- FORMULÁRIO p/ CADASTRAR/ EDITAR -->
				<form th:action="@{/estado/cadastro}" th:object="${estado}" method="POST"  >
					<div class="form-row">
							
						<div class="form-group col-md-2">
							<label for="txtSigla"><strong>Sigla do estado</strong></label>
							<input type="text" class="form-control somenteLetras" id="txtSigla" th:field="*{sigla}" name="numero" placeholder="Insira a sigla estado..." minlength="2" maxlength="2" required>
						</div>
						
						<div class="form-group col-md-10">
							<label for="txtNome"><strong>Nome</strong></label>
							<input type="text" class="form-control somenteLetras" id="txtNome" th:field="*{nome}" name="nome" placeholder="Insira o nome do estado..." minlength="3" maxlength="28" required>
						</div>
					</div>	


					<div class="form-row">
						<input type="text" class="form-control" id="txt" th:field="*{id}" name="id" hidden="true" >
						<div class = "form-group col-md-12">
							<button type="submit" id="btnCadastrarAlterar" class="btn btn-outline-primary ajusta-margin-btn col-md-12"><strong>Alterar/Cadastrar</strong></button>
							<!-- <button type="submit" class="btn btn-outline-primary col-md-12" th:text="${textBtnCadastrarEditar}"><strong> </strong></button> -->
						</div>
					</div>
				</form>

			</div>
		</section>

	</body>

</html>