<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{default :: layout(~{::title}, ~{::section})}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Consulta de Tributação Estadual - (ICMS)</title>
</head>
<body>
<section id="consulta-tributacao-estadual-container">

	<!-- BREADCRUMB -->
	<div>
		<div class="row mb-3">
			<div class="col-md-12">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb breadcrumb-personalizado">
						<li class="breadcrumb-item"><a href="/home" class="breadcrumb-item-personalizado">Home</a></li>
						<li class="breadcrumb-item"><a href="/tributacao-estadual/guia/consulta" class="breadcrumb-item-personalizado">Consultar</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tributação Estadual - (GUIA)</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>

	<div>

		<!-- FORMULÁRIO para CONSULTAR a TRIBUTAÇÃO ESTADUAL, por NCM -->
		<form action="/tributacao-estadual/guia/consulta" method="POST">
			<div class="form-group form-row zera-padd-left col-md-12">
				<div class="form-group col-md-8">
					<label><b>Pesquisar tributação estadual das Guias por NCM:</b></label>
					<input type="text" class="form-control" id="txtNcmTributacaoEstadual" name="ncm" placeholder="Informe o número do NCM..." minlength="3">
				</div>
				<div>
					<button class="btn btn-outline-primary" type="submit" id="btnPesquisar">
						<span data-feather="search">search</span>
					</button>
				</div>
			</div>
		</form>

		<!-- TABELA COM AS TRIBUTAÇÕES CONSULTADAS -->
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
				<tr>
					<th scope="col"><b>ID</b></th>
					<th scope="col"><b>Tipo Guia</b></th>
					<th scope="col"><b>UF Origem</b></th>
					<th scope="col"><b>UF Destino</b></th>
					<th scope="col"><b>Operação</b></th>
					<th scope="col"><b>NCM</b></th>
					<th scope="col"><b>É prod. importado?</b></th>
					<th scope="col"><b>Icms Aliq. Interna Destino</b></th>
					<th scope="col"><b>IVA/MVA</b></th>
					<th scope="col"><b>Icms Aliq.</b></th>
					<th scope="col"><b>Editar</b></th>
					<!-- <th scope="col"><b>Deletar</b></th> -->
				</tr>
				</thead>
				<tbody>
				<tr th:each="tribEstaGuia : ${listTribEstaGuia.content}">
					<td th:text="${tribEstaGuia.id}">1</td>
					<td th:text="${tribEstaGuia.tipoGuia}">Gare ou GNRE</td>
					<td th:text="${tribEstaGuia.estadoOrigem.sigla}">SP</td>
					<td th:text="${tribEstaGuia.estadoDestino.sigla}">MG</td>
					<td th:text="${tribEstaGuia.operacao.descricao}">Compra Interestadual</td>
					<td th:text="${tribEstaGuia.ncm.numero}">12345678</td>
					<td th:text="${tribEstaGuia.produtoImportado} ? 'SIM' : 'NÃO'"></td>
					<td th:text="${tribEstaGuia.icmsAliqInternaDestino}">12345678</td>
					<td th:text="${tribEstaGuia.icmsIva}">12345678</td>
					<td th:text="${tribEstaGuia.icmsAliquota}">12345678</td>
					<td>
						<a th:href="@{'/tributacao-estadual/guia/editar/' + ${tribEstaGuia.id}}">
							<button type="button" class="btn btn-outline-primary ajusta-botao-tbl">
								<span data-feather="edit-3">Editar</span>
							</button>
						</a>
					</td>
					<!--
					<td>
						<form th:method="POST" method="DELETE" th:action="@{'/tributacao-estadual/guia/deletar/' + ${tribEstaGuia.id}}">
							<button type="submit" class="btn btn-outline-primary ajusta-botao-tbl">
								<span data-feather="trash-2">Deletar</span>
							</button>
						</form>
					</td>
					-->
				</tr>
				</tbody>
			</table>
		</div>

		<!-- PAGINAÇÃO -->
		<nav aria-label="Page navigation">
			<ul class="pagination">
				<!-- Link para a página anterior -->
				<li class="page-item" th:classappend="${paginaAtual == 0} ? 'disabled' : ''">
					<a class="page-link" th:href="@{/tributacao-estadual/guia/consulta(page=${paginaAtual - 1})}">Anterior</a>
				</li>

				<!-- Links para as páginas -->
				<li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}"
					th:classappend="${i == paginaAtual} ? 'active' : ''">
					<a class="page-link" th:href="@{/tributacao-estadual/guia/consulta(page=${i})}" th:text="${i + 1}"></a>
				</li>

				<!-- Link para a próxima página -->
				<li class="page-item" th:classappend="${paginaAtual >= totalPages - 1} ? 'disabled' : ''">
					<a class="page-link" th:href="@{/tributacao-estadual/guia/consulta(page=${paginaAtual + 1})}">Próxima</a>
				</li>

				<!-- Link para a última página -->
				<li class="page-item" th:if="${paginaAtual < totalPages - 1}">
					<a class="page-link" th:href="@{/tributacao-estadual/guia/consulta(page=${totalPages - 1})}">Última</a>
				</li>
			</ul>
		</nav>

	</div>
</section>
</body>
</html>
