<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title> </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <!-- CSS -->
    <style>
        table {
            width: 100%;
        }

        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    
        th,
        td {
            padding: 15px;
            text-align: left;
        }
    
        #t01 tr:nth-child(even) {
            background-color: #eee;
        }
    
        #t01 tr:nth-child(odd) {
            background-color: #fff;
        }
    
        #t01 th {
            background-color: black;
            color: white;
        }
    </style>

    <!-- BODY/CORPO do EMAIL -->
    <body>


        <!-- Tabela referente a nota -->
        <h1 style="text-align: center;"> 
            Doc. Fiscal (Chave): 
            <span th:text="${docFisc.nfeChaveAcesso}">
        </h1>

        <table border="1" width = "100%" bordercolor = "green" >
            <tr>
                <th>Compra</th>
                <th>Loja</th>
                <th>Numero Nf</th>
                <th>Uf de Origem</th>
                <th>Tel. Loja</th>
                <th>CNAE (AG)</th>
                <th>Insc. Estad. (AG)</th>
            </tr>

            <tr>
              <td th:text="${docFisc.numero}"> Informe o numero da compra </td>
              <td th:text="${loja.getLojaAndRazaoSocial()}"> Loja </td>
              <td th:text="${docFisc.numero}"> Numero da Nota </td>
              <td th:text="${docFisc.emitente.endereco.uf}"> SC </td>
              <td th:text="${loja.telefone}">Tel. AG</td>
              <td th:text="${loja.cnae}"> Numero da Nota </td>
              <td th:text="${loja.ie}"> SC </td>
            </tr>
        </table>


        <!-- ========================================================================================== -->
        <!-- =================== Tabela Referente a todos os itens da nota com ST ===================== -->
        <!-- ========================================================================================== -->
        <h1 style="text-align: center;"> Itens (Somentes os calculados com ST) </h1>

              <table border="1" width = "100%" bordercolor = "green" >
                 <tr>
                    <th>COD X</th>
                    <th>SEQ</th>
                    <th>Descrição</th>
                    <th>Nº Item</th>
                    <th>Ncm</th>     <!-- CASO se um NCM que nunca tenha sido validado pela gabi pintar de cor diferente -->
                    <th>VLR Prod.</th>
                    <th>Frete</th>
                    <th>VLR IPI</th>
                    <!-- <th>Total</th> -->
                    <th>MVA</th>
                    <th>Prod. Origem</th>
                    <th>ICMS Aliq. Cred.</th>
                    <th>Aliq. Interna Dest.</th>
                </tr>
                <tr th:each="calcGare : ${listCalcGare}">
                    <td th:text="${calcGare.docFiscItem.codigoX}">Cod X</td>
                    <td> </td>               <!-- COD SEQ -->
                    <td> </td>               <!-- Desc. -->
                    <td> </td>               <!-- Nº Item -->
                    <td th:text="${calcGare.docFiscItem.ncm.numero}">NCM</td> 
                    <td th:text="${calcGare.docFiscItem.valorUnitario}"> VLR Prod</td>
                    <td> </td>               <!-- Frete -->
                    <td> </td>               <!-- VLR IPI -->
                    <td> </td>               <!-- Total -->
                    <td th:text="${calcGare.tribEstaGuia.icmsIva}">IVA/MVA</td>
                    <td th:text="${calcGare.tribEstaGuia.produtoOrigem.ordinal}">Origem</td>
                    <td th:text="${calcGare.tribEstaGuia.icmsAliquota}">Aliq. Cred</td>
                    <td th:text="${calcGare.tribEstaGuia.icmsAliqInternaDestino}">Aliq. Interna Dest.</td>
                </tr>
            </table>




            <!-- Colocar aqui algumas "considerações.: Ex.: Formula dos Calculos e legendas" -->
    </body>

</html>