<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{default :: layout(~{::title}, ~{::section})}">
	
	<head>
		<meta charset="utf-8">
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<title> Consulta de operação </title>
	</head>

	<body>
		<section id="consulta-operacao-container">

			<!-- BREADCRUMB -->
			<div>
				<div class="row mb-3 ">
					<div class="col-md-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb breadcrumb-personalizado">
								<li class="breadcrumb-item"><a href="/home" class="breadcrumb-item-personalizado">Home</a></li>
								<li class="breadcrumb-item"><a href="/operacao/consulta" class="breadcrumb-item-personalizado">Consultar</a></li>			
								<li class="breadcrumb-item active" aria-current="page">Operação</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>

			<div>

				<!-- FORMULÁRIO para CONSULTAR OS NCMS -->
				<form action="/operacao/consulta" method="POST" >
                    <div class="form-group form-row zera-padd-left col-md-12">
                        <div class="form-group col-md-8">
                            <label><b>Pesquisar Operação pela descrição: </b></label>
                            <input type="text" class="form-control " id="txtDescricaoOperacao" name="descricaoOperacao" placeholder="Informe uma parte da descrição da operação..." minlength="3">
                        </div>

                        <div>
                            <button class="btn btn-outline-primary" type="submit" id="btnPesquisar">
                                <span data-feather="search">search</span>
                            </button>
                        </div>
                    </div>
				</form>


				<!-- TABELA COM AS OPERAÇÕES CONSULTADAS-->
				<table class="table table-hover table-responsive ">
					<thead>
						<tr>
							<!-- <th scope="col"> <b> ID </b> </th> -->	
							<th scope="col"> <b> ID </b> </th>
							<th scope="col"> <b> Descrição </b> </th>	
					
                            <th scope="col"> <b> Editar </b> </th>	
                            <th scope="col"> <b> Deletar </b> </th>
						</tr>
					</thead>
									
					<tbody>
						<tr th:each="operacao : ${listOperacao}">
							<!-- <th scope="row" th:text="${consultorio.id}"> 2</th> -->
							<td scope="row" th:text="${operacao.id}"> 12.000.021-90 </td>	
							<td scope="row" th:text="${operacao.descricao}"> 123.321.901-99 </td>	
											
					      <!-- 			EDITAR -->
                            <td scope="row">
                                <a th:href="@{'/operacao/editar/' + ${operacao.id}}">
                                    <button type="button" class="btn btn-outline-primary ajusta-botao-tbl">
                                        <span data-feather="edit-3">Editar</span>
                                    </button>
                                </a>
                            </td>

                            <!-- DELETAR -->
                            <td scope="row">
                                <!-- <form th:method="DELETE" th:action="${(#mvc.url('NC#delete').arg(0, ncm.id)).build()}"> -->
                                <form th:method="POST" method="DELETE" th:action="@{'/operacao/deletar/' + ${operacao.id}}">
                                    <button type="submit" class="btn btn-outline-primary ajusta-botao-tbl">
<!--                                     <button type="submit" class="btn btn-outline-primary ajusta-botao-tbl" data-toggle="modal" data-target="#modalDeletarOperacao" > -->
                                        <span data-feather="trash-2">Deletar</span>
                                    </button>
                                </form>
                            </td>

						 </tr>
					</tbody>
							
						<!-- PAGINAÇÃO ? -->
						<!-- <ul class="nav nav-pills ">
							<li class="nav-item" th:each= "pg : ${#numbers.sequence(0,listConsultorios.totalPages)}">
								 <a th:href="@{/consultorio/consultar/(page=${pg})}"  th:text="${pg} +1" class="nav-link"  
									 th:classappend="${paginaAtual} == ${pg} ? 'active': '' ">1
								 </a>
							</li>	
						</ul>
						-->

				</table>
						
						<!-- 
						<ul class="nav nav-pills ">
							<li class="nav-item" th:each= "pg : ${#numbers.sequence(0,listConsultorios.totalPages)}">
								 <a th:href="@{/consultorio/consultar/(page=${pg})}"  th:text="${pg} +1" class="nav-link"  
									 th:classappend="${paginaAtual} == ${pg} ? 'active': '' ">1
								 </a>
							</li>	
						</ul>
						-->

				<!-- PAGINAÇÃO -->
				<nav aria-label="Page navigation">
					<ul class="pagination">
						<!-- Link para a página anterior -->
						<li class="page-item" th:classappend="${paginaAtual == 0} ? 'disabled' : ''">
							<a class="page-link" th:href="@{/operacao/consulta(page=${paginaAtual - 1})}">Anterior</a>
						</li>

						<!-- Links para as páginas -->
						<li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}"
							th:classappend="${i == paginaAtual} ? 'active' : ''">
							<a class="page-link" th:href="@{/operacao/consulta(page=${i})}" th:text="${i + 1}"></a>
						</li>

						<!-- Link para a próxima página -->
						<li class="page-item" th:classappend="${paginaAtual >= totalPages - 1} ? 'disabled' : ''">
							<a class="page-link" th:href="@{/operacao/consulta(page=${paginaAtual + 1})}">Próxima</a>
						</li>

						<!-- Link para a última página -->
						<li class="page-item" th:if="${paginaAtual < totalPages - 1}">
							<a class="page-link" th:href="@{/operacao/consulta(page=${totalPages - 1})}">Última</a>
						</li>
					</ul>
				</nav>
			<!--
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDeletarOperacao">
					Launch demo modal
    	    </button>
			-->
			<!-- INSERINDO O MODAL PARA A CONFIRMAÇÃO DE DELETE-->
			<!-- <div th:replace="/operacao/modal-deletar :: modal-deletar"></div> -->



			</div>
		</section>

	</body>

</html>