<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{default :: layout(~{::title}, ~{::section})}">
	
	<head>
		<meta charset="utf-8">
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<title> Simulação de calculo </title>
	</head>

	<body>
		<section id="simulacao-calculo-container">

			<!-- BREADCRUMB -->
			<div>
				<div class="row mb-3 ">
					<div class="col-md-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb breadcrumb-personalizado">
								<li class="breadcrumb-item"><a href="/home" class="breadcrumb-item-personalizado">Simulação de calculo</a></li>
								<!-- <li class="breadcrumb-item"><a href="/" style="color: #1b8140; font-weight: 500">Simulação de calculo</a></li>			 -->
								<!-- <li class="breadcrumb-item active" aria-current="page">Simulação de calculo</li> -->
							</ol>
						</nav>
					</div>
				</div>
			</div>

			<div>

				<!-- FORMULÁRIO p/ CADASTRAR/ EDITAR -->
				<form th:action="@{/simulador/calculo}" th:object="${documentoFiscal}" method="POST"  >

					<!-- OPERAÇÃO -->
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="cmbOperacao"><strong>Operação</strong></label>
							<select class="custom-select" name="operacaoId">
							<option selected id="opOperacao"> </option>
								<option th:each="operacao : ${listOperacao}" th:value="${operacao.id}" th:text="${operacao.descricao}" ></option>
							</select>
						</div>
					</div>

					<!-- ESTADOS -->
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="cmbEstadoOrigem"><strong>Estado ORIGEM</strong></label>
							<select class="custom-select" name="ufOrigemId">
								<option selected id="opEstadoOrigem"> </option>
								<option th:each="estadoOrigem : ${listEstado}" th:value="${estadoOrigem.id}" th:text="${estadoOrigem.sigla}" ></option>
							</select>
						</div>

						<div class="form-group col-md-6">
							<label for="cmbEstadoDestino"><strong>Estado DESTINO</strong></label>
							<select class="custom-select" name="ufDestinoId">
								<option selected id="opEstadoDestino"> </option>
								<option th:each="estadoDestino : ${listEstado}" th:value="${estadoDestino.id}" th:text="${estadoDestino.sigla}" ></option>
							</select>
						</div>
					</div>

					<!-- ITEM -->
					<div class="form-row">
						<div class="form-group col-md-2"> 
							<label for="txtQuantidadeItem"><strong>Qtd Item</strong></label>
							<input type="number" class="form-control somenteNumeros" id="txtQuantidadeItem" name="itens[0].quantidade" placeholder="Quantidade" minlength="0" required>
						</div>
						
						<div class="form-group col-md-4">
							<label for="txtValorItem"><strong>Valor do Item</strong></label>
							<!-- <input type="text" class="form-control somenteNumeros" id="txtValorItem" th:field="*{excecao}" name="excecao" placeholder="Insira a exceção..." minlength="2" maxlength="2" required> -->
							<input type="text" class="form-control somenteNumerosPontoEVirgula" id="txtValorItem" name="itens[0].valorUnitario" placeholder="Insira o valor do item..." minlength="1" maxlength="9" required>
						</div> 


						<div class="form-group col-md-6">
							<label for="cmbFinalidade"><strong>Finalidade</strong></label>
							<select class="custom-select" name="documentoFiscal.finalidade" >
								<option selected id="opFinalidade"> </option>
								<!-- <option th:field="*{emitenteUf}"  th:each="estado : ${listEstado}" th:value="${estado}" th:text="${estado}" ></option> -->
								<option th:each="finalidade : ${finalidades}" th:value="${finalidade}" th:text="${finalidade.descricao}" ></option>
							</select>
						</div>

						<!-- <div class="form-group col-md-6">
							<label for="cmbNcm"><strong>NCM</strong></label>
							<select class="custom-select" name="ncmId" >
								<option selected id="opNcm"> </option>
								<option th:each="ncm : ${listNcm}" th:value="${ncm.id}" th:text="${ncm}" ></option>
							</select>
						</div> -->

						<div class="form-group col-md-6">
							<label for="txtNcm"><strong>NCM</strong></label>
							<input type="hidden" th:value="*{itens[0].ncm.id}" id="txtNcmId" name="ncmId" readonly required /> 
							<input type="text" class="form-control" id="txtNcmDescricao" th:value="*{itens[0].ncm}" placeholder="Clique No botão (+) ao lado para buscar o NCM" disabled required />
						</div> 
						
						<button type="button" class="btn btn-outline-primary form-control col-md-1 ajusta-botao-tbl" id="btnAdicionarNcm" data-toggle="modal" data-target=".bd-example-modal-lg">
							<span data-feather="plus">adicionar ncm</span>
						</button>

						<!-- PESSOA (REGIME TRIBUTARIO) emitenteRegimeApuracao-->
						<div class="form-group col-md-4">
							<label for="cmbRegimeTributario"><strong>Regime Tributário do emitente</strong></label>
							<select class="custom-select" name="regimeTributario" >
								<option selected id="opFinalidade"> </option>
								<option th:each="regimeTributario : ${regimesTributarios}" th:value="${regimeTributario}" th:text="${regimeTributario.descricao}" ></option>
							</select>
						</div>	
					</div>	

			

					<!-- RESULTADO DO CALCULO -->
					<div class="form-row">
						<div class="form-group col-md-12">
							<i class="fas fa-pencil-alt prefix"></i>
							<!-- <textarea id="txtDescricao" th:field="*{descricao}" name="descricao" class="md-textarea form-control" rows="2" ></textarea> -->
							<label for="txtResultadoCalculo">Resultados dos cálculos</label>
							<textarea readonly id="txtResultadoCalculo" class="md-textarea form-control " 
								th:rows="${qtdLinhas}"  
								th:text="${resultadoCalculo}">
							</textarea>
						</div>
					</div>	


					<!-- BOTÃO CALCULAR -->
					<div class="form-row">
						<!-- <input type="text" class="form-control" id="txt" th:field="*{id}" name="id" hidden="true" > -->
						<div class = "form-group col-md-12">
							<button type="submit" class="btn btn-outline-primary ajusta-margin-btn col-md-12"><strong>CALCULAR</strong></button>
							<!-- <button type="submit" class="btn btn-outline-primary col-md-12" th:text="${textBtnCadastrarEditar}"><strong> </strong></button> -->
						</div>
					</div>

				</form>

				<div th:replace="/ncm/modal-add-ncm :: modal-add-ncm"></div>

			</div>
		</section>

	</body>

</html>